{:kotoba.app/id "cloud.itonami.isic-6622", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreie5zx7o7ov6oe2eqhf6rhspnzmyj72nzmwmiy4pfw5m7lyg5zjat4", :kotoba.app/embed-url "ipfs://bafkreie5zx7o7ov6oe2eqhf6rhspnzmyj72nzmwmiy4pfw5m7lyg5zjat4", :published {:archive "https://kotobase.net/ipfs/bafkreie5zx7o7ov6oe2eqhf6rhspnzmyj72nzmwmiy4pfw5m7lyg5zjat4", :size 80706, :put-status 201, :get-status 200, :at "2026-08-15T13:56:24.293Z"}}
